.left {
    position: absolute;
    animation: fall_left 15s linear;
}

.left img{
    width: 100px;
}

@keyframes fall_left {
    from { transform: translateX(100vw); }
    to { transform: translateX(0vw); }
}


.right {
    position: absolute;
    animation: fall_right 15s linear;
}

.right img{
    width: 100px;
}

@keyframes fall_right {
    from { transform: translateX(0vw); }
    to { transform: translateX(100vw); }
}