body{
    background: repeating-linear-gradient(rgba(28, 95, 25, 0.5),rgba(233, 236, 19, 0.5)20px),
    url(assets/père_noël.png) ;
    animation: défilement 4s linear 0s infinite;
    

}

h1{
    display: inline-block;
    background:repeating-linear-gradient(to right, rgba(244, 16, 16, 0.5),rgb(247, 247, 246)20px);
    color:rgb(83, 228, 220);
    padding: 5px 10px;
    animation: défilement 1s linear 0s infinite;
    

    
}
.tournant {
    display: block;
    width: 200px; height: 200px;
    margin: calc(((204px * 1.4142) - 204px) / 2);
    background: wheat;
    border: 2px solid;
    animation: example 12s linear 0s infinite;
    animation-play-state: paused;
    }
.tournant:hover{
    animation-play-state: running;
    }


#flocon-box{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.flocon{
    position: absolute;
    font-size: 40px;
    animation: fall 5s linear ;
    
}


.plafond{
    position: absolute;
    top: 0px;
    rotate: 180deg;
    height: 400px;
}

#sapin1{
    left: 10px;
}
#sapin2{
    right: 10px;
}


@keyframes example {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes défilement {
    from {background-position: 0 0px;}
    to { background-position: 50px 50px; }
}

@keyframes fall{
    from { transform: translateY(100vh) rotate(0deg);  } 
    to { transform: translateY(0vh) rotate(360deg); }
}












