html{
    height: 100%;
    cursor:url("assets/emoji_cadeau.png"), auto;
}

/* animations et fonts personalisées*/
@keyframes tourner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes défilement {
    from { background-position: 0 0px; }
    to { background-position: 250px 250px; }
}

@keyframes fall {
    from { transform: translateY(100vh) rotate(0deg); }
    to { transform: translateY(0vh) rotate(360deg); }
}

@keyframes clignoteCouleur {
    0% { color: red; opacity: 1; }
    25% { color: orange; opacity: 0.8; }
    50% { color: yellow; opacity: 1; }
    75% { color: lime; opacity: 0.8; }
    100% { color: red; opacity: 1; }
}

@font-face {
    font-family: Candy Cane;
    src: url(assets/KGCandyCaneStripe.ttf);
}

body {
    background: repeating-linear-gradient(rgba(28, 95, 25, 0.5), rgba(233, 236, 19, 0.5) 20px),
                url(assets/père_noël.png);
    animation: défilement 10s linear infinite;
}
/* CSS titre des pages*/
h1 {
    display: inline-block;
    background: repeating-linear-gradient(to right, rgba(244, 16, 16, 0.5), rgb(247, 247, 246) 20px);
    color: rgb(83, 228, 220);
    padding: 5px 10px;
    animation: défilement 5s linear infinite;
}

.titre{
    text-align: center;
}

/* CSS flocon*/
#flocon-box {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.flocon {
    position: absolute;
    font-size: 40px;
    animation: fall 6s linear;
    color: white;
    text-shadow: 
        0 0 5px rgb(21, 202, 42),
        0 0 10px rgb(21, 202, 42),
        0 0 15px rgb(21, 202, 42),
        0 0 20px rgb(21, 202, 42);
}

.plafond {
    position: absolute;
    top: 0px;
    rotate: 180deg;
    height: 400px;
}
/* CSS index*/
#sapin1 { left: 10px; }
#sapin2 { right: 10px; }

.tournant {
    display: block;
    width: 500px; height: 500px;
    margin: auto;
    margin-top: 50px;
    background: wheat;
    border: 2px solid;
    animation: tourner 1s linear infinite;
    animation-play-state: paused;
    
}
.tournant:hover {
    animation-play-state: running;
}

#compteur {
    font-size: 24px;
    font-weight: bold;
    animation: clignoteCouleur 1s infinite;
}

/* CSS popup*/
#popup_container{
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#popup-box {
    background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url("assets/cookie.jpg");
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#popup-box p{
    color:red;
    font-family:Candy Cane ;
    font-size: 50px;
}

#ok {
    margin-top: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

#ok:hover{
    cursor:url("assets/emoji_cadeau.png"), auto;
}

#button_box{
    display: flex;
    justify-content: space-around;
}

/* CSS menu*/
.menu{
    position: fixed;
    bottom: 0;
    width: 100%;

}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu a{
    cursor:url("assets/emoji_cadeau.png"), auto;
    text-decoration: none;
    font-family: Candy Cane;
    font-size: 30px;
    color: red;
    border: 2px solid black;
    background-color: white;
    padding: 3px;
}

.menu a:hover{
    background-color: rgb(168, 33, 212);
}
/* CSS traditions*/
.tradition .ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.tradition p{ 
    background-color: rgb(255, 255, 255,0.7);
    color:green;
    font-size:14.5px;
    font-weight:bold;
}

.tradition img{
   height: 200px;
   margin-bottom: 70px;
   animation: tourner 1s linear infinite;
   animation-play-state: paused;
}

.tradition img:hover{
    animation-play-state: running;
}


.tradition div{
    padding-top: 20px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* CSS flags*/
.left {
    position: absolute;
    animation: fall_left 15s linear;
}

.left img{
    width: 100px;
}

@keyframes fall_left {
    from { transform: translateX(100vw); }
    to { transform: translateX(0vw); }
}


.right {
    position: absolute;
    animation: fall_right 15s linear;
}

.right img{
    width: 100px;
}

@keyframes fall_right {
    from { transform: translateX(0vw); }
    to { transform: translateX(100vw); }
}








