body {
    background: repeating-linear-gradient(rgba(28, 95, 25, 0.5), rgba(233, 236, 19, 0.5) 20px),
                url(assets/père_noël.png);
    animation: défilement 10s linear infinite;
    cursor: none;
}

h1 {
    display: inline-block;
    background: repeating-linear-gradient(to right, rgba(244, 16, 16, 0.5), rgb(247, 247, 246) 20px);
    color: rgb(83, 228, 220);
    padding: 5px 10px;
    animation: défilement 5s linear infinite;
}

#flocon-box {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.flocon {
    position: absolute;
    font-size: 40px;
    animation: fall 6s linear;
    color: white;
}

.plafond {
    position: absolute;
    top: 0px;
    rotate: 180deg;
    height: 400px;
}

#sapin1 { left: 10px; }
#sapin2 { right: 10px; }

.tournant {
    display: block;
    width: 200px; height: 200px;
    margin: auto;
    margin-top: 50px;
    background: wheat;
    border: 2px solid;
    animation: example 1s linear infinite;
    animation-play-state: paused;
}
.tournant:hover {
    animation-play-state: running;
}

@keyframes example {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes défilement {
    from { background-position: 0 0px; }
    to { background-position: 250px 250px; }
}

@keyframes fall {
    from { transform: translateY(100vh) rotate(0deg); }
    to { transform: translateY(0vh) rotate(360deg); }
}


#popup {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#popup-box {
    background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url("assets/cookie.jpg");
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

@font-face {
    font-family: Candy Cane;
    src: url(assets/KGCandyCaneStripe.ttf);
}
#popup-box p{
    color:red;
    font-family:Candy Cane ;
    font-size: 50px;
}

#ok {
    margin-top: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

#compteur {
    font-size: 24px;
    font-weight: bold;
    animation: clignoteCouleur 1s infinite;
}

@keyframes clignoteCouleur {
    0% { color: red; opacity: 1; }
    25% { color: orange; opacity: 0.8; }
    50% { color: yellow; opacity: 1; }
    75% { color: lime; opacity: 0.8; }
    100% { color: red; opacity: 1; }
}

.tradition p{ 
    background-color: rgb(255, 255, 255,0.7);
    color:red;
    font-size:20px;
    font-weight:bold;
}

.tradition img{
    width: 400px;
}

#espagne{
    padding-top: 20px;
    margin-left: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#curseur{
    position: fixed;
    font-size: 40px;
    pointer-events: none;
}


